{
    "API_LOCATION": "",
    "API_COMMON_NAME": "",
    "FRONTFACING_URL": "",
    "VERIFICATION_ENDPOINT": "",
    "ADMIN_EMAIL": "",
    "API_EMAIL": "",
    "SMTP_HOST": "",
    "SMTP_PORT": "",
    "SMTP_USERNAME": "",
    "SMTP_PASSWORD": ""
}